:host{
  min-width: 50px;
  min-height: 50px;
  display: block;
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative;
  .inline-content{
    .name{
      font-size: 30px;
    }
    display: block;
    overflow: hidden;
  }
  &.red{
    background-color: red;
    color: white;
  }
  &.blue{
    background-color: blue;
    color: white;
  }
  &.green{
    background-color: #0D0;
  }
  .top,
  .bottom{
    display: block;
    height: 10px;
    width: 100%;
    background-color: #34F;
    position: absolute;
  }
  .top{
    top:0;
  }
  .bottom{
    bottom:0;
  }
  .center{
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: transparent;
    .left,
    .right{
      top:0;
      width: 10px;
      height: 100%;
      position: absolute;
      background-color: #05F;
    }
    .left{
      left: 0;
    }
    .right{
      right: 0;
    }
    .content{
      width: 100%;
      background-color: transparent;
      overflow: hidden;
    }
  }
}
