<div class="center">
  <div class="left"></div>
  <div class="content">
    <div class="inline-content">
      <p class="name">{{elementName}}</p>
      <p>
        <template is="dom-iterate" from="0" to="{{lines}}">
          line: <span>{{index}}</span>  complex panel<br/>
        </template>
      </p>
    </div>
  </div>
  <div class="right"></div>
</div>

<div class="top">
  <div class="left"></div>
  <div class="right"></div>
</div>
<div class="bottom">
  <div class="left"></div>
  <div class="right"></div>
</div>