:host{
  display: block;
  padding: 10px;
  min-width: 50px;
  height: 100%;
  width: 100%;
  &.red{
    background-color: red;
    color: white;
  }
  &.blue{
    background-color: blue;
    color: white;
  }
  &.green{
    background-color: #0D0;
  }
  .name{
    font-size: 30px;
  }
}
