body{
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	background-color: #b2ebf2;
}

#panel-manager {
	background-color: #ff7043;
	border-radius: 10px;
	margin-left: 20%;
	padding: 10px;
	font-size: 1em;
	font-style: italic;
}

#demo-header {
	text-align: center;
	background-color: #4db6ac;
	color: #000000;
	font-size: 2em;
	
	code {
		font-size: 1em;
		font-style: bold;
	}
}

#panel-1 {
	width: 500px;
	height: 400px;
}

#panel-2 {
	width: 300px;
	height: 200px;
}