:host{
  background-color: #BBF;
  display: block;
  float: left;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  &.child-of-vertical{
    width: 100%;
    &.not-last{
      padding-bottom: 7px;
    }
  }
  &.child-of-horizontal{
    &.not-last{
      padding-right: 7px;
    }
  }
  .vertical{
    
  }
  .horizontal{
    
  }
}
