:host{
  display: block;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  float: left;
  position: relative;
  box-sizing: border-box;
  
  &.child-of-vertical{
    width: 100%;
    &.not-last{
      padding-bottom: 7px;
    }
  }
  &.child-of-horizontal{
    &.not-last{
      padding-right: 7px;
    }
  }
}
