:host{
  display: block;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  float: left;
  position: relative;
  box-sizing: border-box;
  &.not-last{
    &.child-of-vertical{
      padding-bottom: 7px;
    }
    &.child-of-horizontal{
      padding-right: 7px;
    }
  }
}
