<div class="controls">
  <div class="control-btn" on-click="remove_me">
    <div class="control close">
      <iron-icon icon="close"></iron-icon>
    </div>
  </div>
  <div class="control-btn">
    <div class="control right">
      <iron-icon icon="chevron-right"></iron-icon>
    </div>
  </div>
  <div class="control-btn">
    <div class="control left">
      <iron-icon icon="chevron-left"></iron-icon>
    </div>
  </div>
</div>
<div class="hide-overflow">
<template is="dom-inject" element="{{concretElement}}"></template>
</div>
<template is="dom-if" if="{{notLast}}">
  <gs-panel-resize class$="{{parentOrientation}}"></gs-panel-resize>
</template>
