:host {
  display: block;
  width: 100%;
  #heightFixer{
    width: 100%;
    min-height: 80px;
  }
  #onReziserFixer{
    width: 100%;
    clear: both;
  }
  .pull-bottom{
    width: 100%;
    clear: both;
  }
}


