:host{
  position: absolute;
  display: block;
  &.vertical{
    background-color: #0f0;
    clear: both;
    height: 7px;
    width: 100%;
    text-align: center;
    overflow-y: hidden;
    line-height: 0.3px;
    cursor: s-resize;
    bottom: 0;
    .points{
      > span {
        letter-spacing: -3px;
      }
    }
  }
  &.horizontal{
    text-align: center;
    top:0;
    right:0;
    width: 7px;
    height: 100%;
    display: block;
    background-color: #0F0;
    cursor: e-resize;
    .points{
      position: absolute;
      top: 50%;
      margin-top: -6px;
      display: block;
      text-align: center;
      line-height: 0.3;
    }
  }
  &.main{
    position: relative;
  }
}
