:host{
  //align-self: flex-end;
  &.vertical{
    display:block;
    background-color: #0f0;
    clear: both;
    height: 7px;
    width: 100%;
    text-align: center;
    overflow-y: hidden;
    line-height: 0.3px;
    cursor: s-resize;
    .points{
      > span {
        letter-spacing: -3px;
      }
    }
  }
  &.horizontal{
    width: 7px;
    display: flex;
    background-color: #0F0;
    cursor: e-resize;
    .points{
      height: auto;
      text-align: center;
      line-height: 0.3;
      align-self: center;
    }
  }
}
