

<div class="header">
  <div class="controls">
    <span>Container Width (0 = 100%): </span><br/>
    <input is="iron-input" bind-value="{{mainWidth}}" /><br/>
    <span>Container Height (0 = auto, current min-heigth = 20px): </span><br/>
    <input is="iron-input" bind-value="{{mainHeight}}" /><br/>
    <paper-checkbox checked="{{showLeftBlock}}">Show left block</paper-checkbox><br/>
    
    <paper-menu-button class="class-options">
      <paper-button class$="dropdown-trigger {{nextClass}}" raised>
        <iron-icon icon="check"></iron-icon>
        <span>{{nextClass}}</span>
      </paper-button>
      <paper-menu class="dropdown-content" selected="{{nextClassIndex}}">
        <template is="dom-repeat" items="{{classOptions}}">
          <paper-item class$="{{item}}">{{item}}</paper-item>
        </template>
      </paper-menu>
    </paper-menu-button>
    <paper-checkbox checked="{{changeClassAuto}}">Change Auto</paper-checkbox><br/>
    
    <span>Add into: </span>
    <input is="iron-input" bind-value="{{parentId}}" />
    <span>(empty = #main)</span><br/>
    
    <span>Identifier: </span>
    <input is="iron-input" bind-value="{{nextId}}" /><br/>
    <button id="panelSimple" >add simple panel</button>
    <button id="panelComplex" >add complex panel</button>
    <button id="panelVertical" >add vertical panel</button>
    <button id="panelHorizontal" >add horizontal panel</button>
  </div>
  <div class="tree-container">
    <textarea value="{{treeModel::input}}" disabled="true"></textarea>
  </div>
</div>

<template is="dom-if" if="{{showLeftBlock}}">
  <div class="left-block"></div>
</template>
<div class="panels-wrapper">
  <gs-panel-root id="gsPanels" debug="true"></gs-panel-root>
</div>
<div class="under">Under panels page control</div>