#parent{
    height:800px;
    margin:0;
    padding:0;
    width:800px;
}
#div1{
    position:relative;
    float:left;
    height:100px;
    width:100px;
    background-color:#A2A;
}
#div2{
    position:relative;
    float:left;
    height:100px;
    width:100px;
    background-color:#BBB;
}
